.event-logo-date {
  text-align: left;

  img {
    height: 63px;
  }
}

.partner-logo {
  width: 100%;
  margin-top: 30px;

  img {
    margin-right: 60px;
    width: 180px;
  }
}

.event-form {
  background-color: #f8a41d;
  padding: 50px;
  margin: 50px;
  border-radius: 5px;

  textarea,
  input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    padding-left: 15px;
    padding-bottom: 5px;
    background: none;
    border: none;
    border-bottom: #000000 1px solid;
  }

  button {
    background: #ffffff;
  }
}

.event {
  min-height: 60vh;
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  a {
    margin: 5px;
    color: #000000;
  }

  .row {
    width: 100vw;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .event-form {
    padding: 30px;
    margin: 10px;
    margin-top: 50px;
  }
}
