.start-insight {
  background: #f8a41d;

  .start-project-container {
    width: 60%;

    a {
      background: #ffffff;
    }
  }
}

.insight a {
  text-decoration: none;
  color: #000000;

  &:hover {
    text-decoration: none;
  }
}
