.navbar-width {
  width: 80%;
  margin: auto;

  nav.navbar {
    .navbar-brand img {
      height: 60px;
    }
    li a {
      color: #000000;
    }
    li a:hover {
      font-weight: 700;
    }
  }
}

@media (max-width: 767.98px) {
  .navbar-width {
    width: 100%;
    nav.navbar .navbar-brand img {
      height: 50px;
    }
  }
}
